.all-page {
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    margin: 0;
    padding: 0;
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.todo-create {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.todoApp {
    padding: 30px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
}

.todo-input {
    width: 100%;
    padding: 10px 2px;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    border: 1px solid black;
}

.todo-create-button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: gold;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
}

.todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

.todoList {
    margin-top: 50px;
    width: 100%;
}

.todo-icons {
    font-size: 25px;
    margin-right: 5px;
    cursor: pointer;
}